*.orig
*.lst
*.map
*.png
*.jpg
*.ico
*.ipch
*.tlog
*.log
*.obj
project/linux_bt/SI/*
project/linux_bt/btsnoop*
project/linux_bt/bt_demo
project/stm32f10x_bb_bt/SI*
project/stm32f407_bb_bt/SI*
project/stm32f412_bb_bt/SI*
project/stm32h750_bb_bt/SI*
project/windows_bt/SI*
/project/stm32f10x_bb_bt/Objects
/project/stm32f407_bb_bt/Objects
/project/stm32f412_bb_bt/Objects
/project/stm32h750_bb_bt/Objects
/project/stm32h750_bb_bt/DebugConfig
project/windows_bt/Debug
project/windows_bt/x64/Debug
project/windows_bt/windows_bt/x64/Debug
project/windows_bt/windows_bt/Debug
project/windows_bt/.vs/windows_bt/v16/Browse.VC.db
project/windows_bt/.vs/windows_bt/v16/ipch
